.root {
    -fx-background-color: #282456FF;
    -fx-text-fill: white;
}

/*fields styling*/

.text-field, .button, .choice-box {
    -fx-background-color: #282456FF;
    -fx-border-color: #AA9FD0FF;
    -fx-text-fill: white;
    -fx-border-radius: 6;
    -fx-border-width: 1.5;
}

.text-field:hover, .choice-box:hover,
.text-field:focused, .choice-box:focused {
    -fx-border-color: #5d3b9a;
}

.choice-box {
    -fx-mark-color: #AA9FD0FF;
}

.context-menu {
    -fx-background-color: #282456FF;
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: #39357c;
}

#btnCalculate, #btnSaveSeries {
    -fx-background-color: #39357c;
    -fx-background-radius: 6;
}

#btnCalculate:hover, #btnSaveSeries:hover {
    -fx-background-color: #55309a;
}

#info, #info:hover {
    -fx-background-color: #282456FF;
    -fx-border-color: #55309a;
}

/*chart styling*/

.chart, .axis {
    -fx-tick-label-fill: white;
    -fx-tick-label-font-size: 0.9em;
}

.axis-label {
    -fx-label-padding: -30 0 -30 0;
    -fx-font-size: 1.2em;
}

.chart-plot-background {
    -fx-background-color: #282456FF;
}

.chart-vertical-grid-lines {
    -fx-stroke: #b4abd0;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #b4abd0;
}

.chart-symbol {
    -fx-background-color: white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 3px;
    -fx-padding: 3px;
}

/*table styling*/

.table-view, .column-header, .column-header-background, .filler, .table-row-cell, .table-cell, .scroll-bar,
.decrement-button:hover, .increment-button {
    -fx-background-color: transparent;
}

.table-row-cell {
    -fx-table-cell-border-color: transparent;
}

.decrement-arrow, .increment-arrow {
    -fx-background-color: #AA9FD0FF;
}

.scroll-bar:vertical {
    -fx-pref-width: 20;
    -fx-padding: 0;
}

.decrement-arrow:hover, .increment-arrow:hover {
    -fx-background-color: white;
}

.table-view {
    -fx-border-color: #AA9FD0FF;
    -fx-border-width: 1.5;
    -fx-table-cell-border-color: transparent;
    -fx-text-alignment: center;
}

.column-header, .filler {
    -fx-border-color: #AA9FD0FF;
    -fx-border-radius: 6;
    -fx-border-insets: 2;
    -fx-border-width: 1.5;
    -fx-text-fill: white;
}

.table-column {
    -fx-alignment: CENTER-RIGHT;
}

.table-row-cell, .table-cell {
    -fx-text-fill: white;
}

.table-cell:hover {
    -fx-background-color: #39357c;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.arrow {
    -fx-mark-color: #AA9FD0FF;
}

.thumb {
    -fx-background-color: #AA9FD0FF;
}

